/**
 * 
 * @author MengQi 2018-06-07 20:04
 */
nav {
    background-color: #007bff;
}

.bg-light {
    background-color: #129fff;
}

.main_content {
    margin-left: 30px;
    margin-right: 30px;
}



