<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8"/>
    <meta id="author" name="孟琦Poet" content="http://www.mengqipoet.cn"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/images/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/css/main.css"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>

    <link rel="stylesheet" href="../../static/adminLTE/css/AdminLTE.min.css">
    <script src="/static/js/md5.js"></script>
    <title>超级管理员登录</title>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>地震现场安全评估</b>系统</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body" id="loginForm">
        <p class="login-box-msg">超级管理员登录</p>

        <form>
            <div class="form-group has-feedback">
                <input  v-model="userName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="输入账号">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" v-model="password" class="form-control" id="exampleInputPassword1"
                       placeholder="输入密码">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn-primary" @click="login">登录</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>

<script>


    var loginForm = new Vue({
        el: "#loginForm",
        data: {
            userName: "",
            password: "",
            dateTime: "",
            sign: ""
        },
        methods: {
            login: function () {
                let datetime = new Date();
                let sign = hex_md5(loginForm.password + datetime.getTime()).toLocaleUpperCase();
                console.log(sign);
                axios({
                    method: "post",
                    url: "/su/login?loginAccount=" + loginForm.userName + "&timestamp=" + datetime.getTime() + "&sign=" + sign
                })
                    .then(function (response) {
                        console.log(response);
                        if (response.data) {
                            window.location.href = "/su/manage";
                        } else {
                            alert("账号或密码错误");
                        }
                    })
                    .catch(function (response) {

                    });
            }
        }
    })
</script>
</body>
</html>